@charset "UTF-8";
/* 头部 */
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; } 
   #msr_callout_div{
        height: 40px;
        line-height: 40px;
    }
  .nav:before, .nav:after {
    content: " ";
    display: table; }
  .nav:after {
    clear: both; }
  .nav > li {
    position: relative;
    display: block; }
    .nav > li > a {
      position: relative;
      display: block;
      padding: 10px 15px; }
      .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee; }
    .nav > li.disabled > a {
      color: #777777; }
      .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
        color: #777777;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed; }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #b89f7a; }
  .nav .nav-divider {
    height: 1px;
    margin: 13px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .nav > li > a > img {
    max-width: none; }

.nav-tabs {
  border-bottom: 1px solid #ddd; }
  .nav-tabs > li {
    float: left;
    margin-bottom: -1px; }
    .nav-tabs > li > a {
      margin-right: 2px;
      line-height: 1.8;
      border: 1px solid transparent;
      border-radius: 0 0 0 0; }
      .nav-tabs > li > a:hover {
        border-color: #eeeeee #eeeeee #ddd; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      color: #555555;
      background-color: #fff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      cursor: default; }

.nav-pills > li {
  float: left; }
  .nav-pills > li > a {
    border-radius: 0; }
  .nav-pills > li + li {
    margin-left: 2px; }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #007149; }

.nav-stacked > li {
  float: none; }
  .nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0; }

.nav-justified, .nav-tabs.nav-justified {
  width: 100%; }
  .nav-justified > li, .nav-tabs.nav-justified > li {
    float: none; }
    .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
      text-align: center;
      margin-bottom: 5px; }
  .nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto; }
  @media (min-width: 768px) {
    .nav-justified > li, .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%; }
      .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
        margin-bottom: 0; } }

.nav-tabs-justified, .nav-tabs.nav-justified {
  border-bottom: 0; }
  .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 0; }
  .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
  .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd; }
  @media (min-width: 768px) {
    .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 0 0 0 0; }
    .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
    .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: #fff; } }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.navbar {
  position: relative;
  min-height: 120px;
  margin-bottom: 0;
  border: 1px solid transparent; }
  .navbar:before, .navbar:after {
    content: " ";
    display: table; }
  .navbar:after {
    clear: both; }
  @media (min-width: 768px) {
    .navbar {
      border-radius: 0; } }

.navbar-header:before, .navbar-header:after {
  content: " ";
  display: table; }

.navbar-header:after {
  clear: both; }

@media (min-width: 768px) {
  .navbar-header {
    float: left; } }

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch; }
  .navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table; }
  .navbar-collapse:after {
    clear: both; }
  .navbar-collapse.in {
    overflow-y: auto; }
  @media (min-width: 768px) {
    .navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none; }
      .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important; }
      .navbar-collapse.in {
        overflow-y: visible; }
      .navbar-fixed-top .navbar-collapse,
      .navbar-static-top .navbar-collapse,
      .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0; } }

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px; }
  @media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
      max-height: 200px; } }

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px; }
  @media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid > .navbar-collapse {
      margin-right: 0;
      margin-left: 0; } }

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px; }
  @media (min-width: 768px) {
    .navbar-static-top {
      border-radius: 0; } }

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }
  @media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
      border-radius: 0; } }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }

.navbar-brand {
  float: left;
  padding: 46px 15px;
  font-size: 20px;
  line-height: 28px;
  height: 120px; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }
  .navbar-brand > img {
    display: block; }
  @media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
      margin-left: -15px; } }

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 43px;
  margin-bottom: 43px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0; }
  .navbar-toggle:focus {
    outline: 0; }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }
  @media (min-width: 768px) {
    .navbar-toggle {
      display: none; } }

.navbar-nav {
  margin: 23px -15px; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 28px; }
  @media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none; }
      .navbar-nav .open .dropdown-menu > li > a,
      .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px; }
      .navbar-nav .open .dropdown-menu > li > a {
        line-height: 28px; }
        .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
          background-image: none; } }
  @media (min-width: 768px) {
    .navbar-nav {
      float: left;
      margin: 0; }
      .navbar-nav > li {
        float: left; }
        .navbar-nav > li > a {
          padding-top: 46px;
          padding-bottom: 46px; } }
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.navbar-btn {
  margin-top: 39px;
  margin-bottom: 39px; }
  .navbar-btn.btn-sm, .btn-group-sm > .navbar-btn.btn {
    margin-top: 43.5px;
    margin-bottom: 43.5px; }
  .navbar-btn.btn-xs, .btn-group-xs > .navbar-btn.btn {
    margin-top: 49px;
    margin-bottom: 49px; }

.navbar-text {
  margin-top: 46px;
  margin-bottom: 46px; }
  @media (min-width: 768px) {
    .navbar-text {
      float: left;
      margin-left: 15px;
      margin-right: 15px; } }

@media (min-width: 768px) {
  .navbar-left {
    float: left !important; }
  .navbar-right {
    float: right !important;
    margin-right: -15px; }
    .navbar-right ~ .navbar-right {
      margin-right: 0; } }

.navbar-default {
  background-color: #f8f8f8;
  border-color: #ddd; }
  .navbar-default .navbar-brand {
    color: #777; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #5e5e5e;
      background-color: transparent; }
  .navbar-default .navbar-text {
    color: #777; }
  .navbar-default .navbar-nav > li > a {
    color: #777; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #333;
      background-color: transparent; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7; }
  .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: #ddd; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #ddd; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #888; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ddd; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #e7e7e7;
    color: #555; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #777; }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent; }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555;
      background-color: #e7e7e7; }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; } }
  .navbar-default .navbar-link {
    color: #777; }
    .navbar-default .navbar-link:hover {
      color: #333; }
  .navbar-default .btn-link {
    color: #777; }
    .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
      color: #333; }
    .navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-default .btn-link:hover,
    fieldset[disabled] .navbar-default .btn-link:focus {
      color: #ccc; }

.navbar-inverse {
  background-color: #222;
  border-color: #090909; }
  .navbar-inverse .navbar-brand {
    color: #9d9d9d; }
    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
      color: #fff;
      background-color: transparent; }
  .navbar-inverse .navbar-text {
    color: #9d9d9d; }
  .navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d; }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
      color: #fff;
      background-color: transparent; }
  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #090909; }
  .navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent; }
  .navbar-inverse .navbar-toggle {
    border-color: #333; }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      background-color: #333; }
    .navbar-inverse .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: #101010; }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #090909;
    color: #fff; }
  @media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
      border-color: #090909; }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
      background-color: #090909; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
      color: #9d9d9d; }
      .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #fff;
      background-color: #090909; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #444;
      background-color: transparent; } }
  .navbar-inverse .navbar-link {
    color: #9d9d9d; }
    .navbar-inverse .navbar-link:hover {
      color: #fff; }
  .navbar-inverse .btn-link {
    color: #9d9d9d; }
    .navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
      color: #fff; }
    .navbar-inverse .btn-link[disabled]:hover, .navbar-inverse .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-inverse .btn-link:hover,
    fieldset[disabled] .navbar-inverse .btn-link:focus {
      color: #444; }


.panel-primary {
  border-color: #007149; }
  .panel-primary > .panel-heading {
    color: #fff;
    background-color: #007149;
    border-color: #007149; }
    .panel-primary > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #007149; }
    .panel-primary > .panel-heading .badge {
      color: #007149;
      background-color: #fff; }
  .panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #007149; }

.panel-success {
  border-color: #d6e9c6; }
  .panel-success > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
    .panel-success > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #d6e9c6; }
    .panel-success > .panel-heading .badge {
      color: #dff0d8;
      background-color: #3c763d; }
  .panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #d6e9c6; }

.panel-info {
  border-color: #bce8f1; }
  .panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1; }
    .panel-info > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #bce8f1; }
    .panel-info > .panel-heading .badge {
      color: #d9edf7;
      background-color: #31708f; }
  .panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #bce8f1; }

.panel-warning {
  border-color: #faebcc; }
  .panel-warning > .panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc; }
    .panel-warning > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #faebcc; }
    .panel-warning > .panel-heading .badge {
      color: #fcf8e3;
      background-color: #8a6d3b; }
  .panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #faebcc; }

.panel-danger {
  border-color: #ebccd1; }
  .panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }
    .panel-danger > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #ebccd1; }
    .panel-danger > .panel-heading .badge {
      color: #f2dede;
      background-color: #a94442; }
  .panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ebccd1; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
  .well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15); }

.well-lg {
  padding: 24px;
  border-radius: 6px; }

.well-sm {
  padding: 9px;
  border-radius: 3px; }

.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20); }
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }
  .modal-header:before, .modal-header:after {
    content: " ";
    display: table; }
  .modal-header:after {
    clear: both; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.8; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }
  .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer:after {
    clear: both; }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.8;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  opacity: 0;
  filter: alpha(opacity=0); }
  .tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .tooltip.top {
    margin-top: -3px;
    padding: 5px 0; }
  .tooltip.right {
    margin-left: 3px;
    padding: 0 5px; }
  .tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0; }
  .tooltip.left {
    margin-left: -3px;
    padding: 0 5px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.8;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 16px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .popover.top {
    margin-top: -10px; }
  .popover.right {
    margin-left: 10px; }
  .popover.bottom {
    margin-top: 10px; }
  .popover.left {
    margin-left: -10px; }

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 16px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0; }

.popover-content {
  padding: 9px 14px; }

.popover > .arrow, .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover > .arrow {
  border-width: 11px; }

.popover > .arrow:after {
  border-width: 10px;
  content: ""; }

.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px; }
  .popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fff; }

.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25); }
  .popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #fff; }

.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px; }
  .popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #fff; }

.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25); }
  .popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #fff;
    bottom: -10px; }

.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .carousel-inner > .item {
    display: none;
    position: relative;
    transition: 0.6s ease-in-out left; }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      display: block;
      max-width: 100%;
      height: auto;
      line-height: 1; }
    @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-inner > .item {
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px; }
        .carousel-inner > .item.next, .carousel-inner > .item.active.right {
          -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
          left: 0; }
        .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
          left: 0; }
        .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          left: 0; } }
  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
    display: block; }
  .carousel-inner > .active {
    left: 0; }
  .carousel-inner > .next,
  .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%; }
  .carousel-inner > .next {
    left: 100%; }
  .carousel-inner > .prev {
    left: -100%; }
  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
    left: 0; }
  .carousel-inner > .active.left {
    left: -100%; }
  .carousel-inner > .active.right {
    left: 100%; }

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: transparent; }
  .carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }
  .carousel-control.right {
    left: auto;
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }
  .carousel-control:hover, .carousel-control:focus {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block; }
  .carousel-control .icon-prev,
  .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px; }
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px; }
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif; }
  .carousel-control .icon-prev:before {
    content: '\2039'; }
  .carousel-control .icon-next:before {
    content: '\203a'; }

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center; }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent; }
  .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #fff; }

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  .carousel-caption .btn {
    text-shadow: none; }

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px; }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px; }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px; }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px; }
  .carousel-indicators {
    bottom: 20px; } }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }

.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
img {
  max-width: 100%; }
  img.fullwidth {
    max-width: calc(100% + 30px);
    margin-left: -15px; }

.box {
  border: 1px solid #eee;
  margin: 2em 0; }
  .box + form {
    margin-top: 0; }
  .box h4 {
    font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px; }

.box--padded {
  padding: 50px 0; }

.box--gray {
  background: #eeeeee; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

@media (max-width: 150000px) {
  html, body {
    height: 100%; }
  body {
    padding: 0 !important; } }

body {
  font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 400; }

b, strong {
  font-family: AvenirHeavy, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700; }

h1, .h1 {
  font-family: AvenirLight, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #525252;
  text-transform: none; }

h2, .h2 {
  font-family: HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-size: 22px;
  line-height: 1.62;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #525252;
  margin: 2em 0; }
  h2:after, .h2:after {
    content: '';
    display: block;
    border-top: 1px solid #ddd;
    width: 6em;
    margin: 1.5em 0; }
  .text-center h2:after, h2.text-center:after, .text-center .h2:after, .h2.text-center:after {
    margin-left: auto;
    margin-right: auto; }
  h2:first-child, .h2:first-child {
    margin-top: 0; }
  h2 small, .h2 small {
    display: block;
    margin-bottom: 1.8em;
    font-size: 50%;
    letter-spacing: 2px; }

h3, .h3 {
  font-family: AvenirLight, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 300;
  font-size: 28.8px;
  line-height: 1.44;
  margin-bottom: 1em;
  color: #525252; }
  h3.secondary, .h3.secondary {
    color: #b89f7a; }

h4, .h4 {
  font-family: AvenirHeavy, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  font-size: 1.125em; }

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small {
  display: block;
  text-transform: uppercase;
  font-family: HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  margin-bottom: 1.5em;
  color: #b89f7a; }


.text-small {
  font-size: 80%; }

blockquote {
  border: 0;
  margin: 0;
  padding: 0; }
  blockquote p {
    font-family: times, cursive, serif;
    color: #b89f7a;
    font-size: 2em;
    font-style: italic; }

code {
  background: white;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: inherit;
  padding: 3px 5px;
  font-family: inherit;
  font-size: inherit; }

.text-primary {
  color: #007149; }

.text-secondary {
  color: #b89f7a; }

.simple-dl {
  margin: 0;
  padding: 2em 0; }
  .simple-dl dt {
    font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
    font-weight: 400;
    font-size: 0.8125em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: .5em; }
  .simple-dl dd {
    font-family: AvenirHeavy, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #525252; }
    .simple-dl dd + dt {
      margin-top: 1.5em; }

.hasChildren {
  padding: 10px 15px; }

#screen {
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: none;
  border: 0;
  padding: 0; }

.lang_cn {
  word-break: break-all !important; }

.lang_en .navmenu {
  font-weight: 800; }

.navInternal {
  position: absolute;
  width: 270px; 
  z-index: 9999;
}

.specialScroll {
  overflow: auto; }

.navPad {
  padding-bottom: 200px; }

.navmenu {
  display: none;
  width: 270px;
  font-size: 14px;
  border: 0;
  position: absolute;
  z-index: 9999;
  height: 100%;
  top: 0;
  min-height: 100%; }
  .navmenu a:focus {
    background-color: inherit !important; }
  .navmenu .showAfter {
    display: none; }
  .navmenu span.caret {
    margin-top: 10px; }
  .navmenu ul.children {
    display: none; }
  .navmenu li {
    white-space: nowrap; }
  .navmenu ul ul {
    padding-left: 0;
    list-style: none; }
    .navmenu ul ul a,
    .navmenu ul ul div.hasChildren {
      display: block;
      padding: 5px 15px 5px 25px; }
  .navmenu .divider {
    border-bottom: 1px solid #bbb; }
  .navmenu .navmenu-nav .active > a {
    background: #f7b146 !important;
    color: #fff !important; }
    .navmenu .navmenu-nav .active > a:hover {
      color: #fff !important;
      background: #f7b146 !important; }

#sideBar {
  left: 0;
  background: #292929 !important; }
  #sideBar span.caret {
    float: right; }
  #sideBar .navmenu-nav li > a,
  #sideBar .navmenu-nav li div.hasChildren {
    color: #fff;
    cursor: pointer; }
  #sideBar .navmenu-nav li li > a {
    color: #aaaaaa; }
  #sideBar .navmenu-nav li a:hover,
  #sideBar .navmenu-nav li div.hasChildren:hover {
    color: #f7b146;
    text-decoration: none;
    background: none; }
  #sideBar .navmenu-nav.top {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #525252; }
    #sideBar .navmenu-nav.top li > a {
      color: #f7b146; }
    #sideBar .navmenu-nav.top li > a:hover {
      color: #fff; }

#settings .navmenu-nav li div.hasChildren,
#settings .navmenu-nav li li > a {
  color: #292929;
  cursor: pointer; }

#settings .navmenu-nav li ul.children a {
  color: #555; }

#settings .navmenu-nav li a:hover,
#settings .navmenu-nav li ul.children a:hover,
#settings .navmenu-nav li div.hasChildren:hover {
  text-decoration: none; }

.subnav {
  background: #292929;
  text-align: center; }
  @media (max-width: 767px) {
    .subnav .container {
      padding: 0; } }
  .subnav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .subnav li {
    margin: 0;
    position: relative; }
  .subnav a {
    display: block;
    color: #777777;
    padding: 15px 20px;
    border-bottom: 1px solid #393939; }
    .subnav a:hover {
      text-decoration: none; }
  .subnav .active a {
    color: #eeeeee; }
  @media (min-width: 768px) {
    .subnav {
      margin: 0 0 1em;
      padding: 10px 0; }
      .subnav li {
        display: inline-block; }
        .subnav li:after {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #555555;
          position: absolute;
          top: 50%;
          right: -4px;
          margin-top: -2px; }
        .subnav li:last-child:after {
          display: none; }
      .subnav a {
        padding: 5px 20px;
        border: 0; } }

/* navmenu-dropdown */
.navmenu-dropdown {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background: #fcfcfc !important;
  border: 1px solid #ddd;
  height: auto;
  min-height: auto;
  position: absolute;
  right: 25px;
  top: 80px;
  text-align: left;
  width: 220px;
  z-index: 100; }
  .navmenu-dropdown ul li a {
    color: #4e4e4e;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 20px; }
    .navmenu-dropdown ul li a:hover {
      background: #b89f7a;
      color: #fff; }
  .navmenu-dropdown ul li:last-child {
    border-top: 1px solid #ddd; }
  @media (max-width: 767px) {
    .navmenu-dropdown {
      right: 10px; } }

span.ad {
  background: #47474A;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: 900;
  right: 32px;
  padding: 0px 5px;
  position: absolute;
  top: 120px;
  z-index: 6; }
  @media (max-width: 991px) {
    span.ad {
      font-size: 11px;
      padding: 0 2px;
      right: 12px;
      line-height: 18px; } }

.navbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0 !important;
  margin-bottom: 0;
  border-left: 0;
  border-right: 0;
  display: inline;
  z-index: 98;
  border: 0;
  border-top: 3px solid #f5f5f5;
  font-size: 16px;
  border-radius: 0;
  min-height: inherit;
  width: 100%;
  -webkit-transform: translateZ(0);
  font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 400; }
  .navbar .container-fluid {
    border-bottom: 1px solid #ddd;
    background: white;
    box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, 0.1); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .navbar {
    top: 0 !important; } }

#oldSite {
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  padding: 15px;
  line-height: normal !important;
  background-color: #00643c;
  z-index: 10;
  position: relative;
  color: #3e3935; }

#oldSite a {
  color: #ffffff !important; }

#newTerms {
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 15px;
  line-height: normal !important;
  background-color: #aa8f64;
  color: white; }

#newTerms a {
  color: white; }

@media (max-width: 767px) {
  #sidebarToggle {
    margin-left: 10px; } }

.right-gear {
  line-height: 20px !important;
  width: auto !important;
  text-align: right !important;
  margin-top: 30px !important;
  margin-left: 0 !important; }
  .right-gear #msr_callout {
    float: right;
    color: #000; }
  .right-gear #msr_callout i{
    font-style: oblique;
    margin-right: 1px;
  }
  @media (max-width: 767px) {
    .right-gear {
      line-height: 15px !important;
      font-size: 12px;
      margin-right: 10px !important; }
      .right-gear #msr_callout, .right-gear .nav-word {
        font-size: 13px; } }

.nav-word {
  white-space: nowrap;
  cursor: pointer;
  color: #b89f7a;
  font-weight: 700;
  font-size: 14px; }
  .nav-word:hover {
    text-decoration: none; }
  .nav-word.toggler-dropdown {
    color: #4e4e4e;
    font-weight: normal; }
    @media (max-width: 768px) {
      .nav-word.toggler-dropdown {
        position: relative;
        top: -7px; } }
  .nav-word .nav-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    font-family: HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif; }
    @media (max-width: 768px) {
      .nav-word .nav-content {
        font-size: 13px;
        display: block;
        text-align: right; } }
    @media (max-width: 320px) {
      .nav-word .nav-content {
        font-size: 1.2rem; } }
    .nav-word .nav-content .coffee-cup {
      background: center/contain no-repeat;
      display: inline-block;
      width: 20px;
      height: 18.6206896552px; }
    .nav-word .nav-content .prefix {
      margin-right: 8px;
      position: relative;
      top: -2px; }
      @media (max-width: 768px) {
        .nav-word .nav-content .prefix {
          display: none; } }
    .nav-word .nav-content .greeting {
      display: inline-block;
      margin-right: 5px; }
      @media (max-width: 768px) {
        .nav-word .nav-content .greeting {
          margin-bottom: 1px;
          margin-right: 0; }
          .nav-word .nav-content .greeting.seperated {
            margin-bottom: 3px; } }
      @media (max-width: 320px) {
        .nav-word .nav-content .greeting {
          margin-bottom: 1px; } }
    .nav-word .nav-content .name-section {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .nav-word .nav-content .name-section {
          display: block; } }
      .nav-word .nav-content .name-section .name {
        margin-right: 0;
        display: inline-block;
        overflow: hidden; }
        .nav-word .nav-content .name-section .name.truncate {
          width: 91px;
          white-space: nowrap;
          text-overflow: ellipsis; }
          .nav-word .nav-content .name-section .name.truncate.cn {
            width: 59px; }
            .nav-word .nav-content .name-section .name.truncate.cn.isEnglishName {
              width: 91px; }
          @media (max-width: 768px) {
            .nav-word .nav-content .name-section .name.truncate {
              width: 76px; }
              .nav-word .nav-content .name-section .name.truncate.cn {
                width: 54px; }
                .nav-word .nav-content .name-section .name.truncate.cn.isEnglishName {
                  width: 76px; } }
          @media (max-width: 320px) {
            .nav-word .nav-content .name-section .name.truncate {
              width: 70px; } }
      .nav-word .nav-content .name-section .suffix {
        display: none;
        margin-left: 0px; }
        @media (max-width: 768px) {
          .nav-word .nav-content .name-section .suffix {
            display: inline-block; } }

.toggler-dropdown {
  padding-right: 24px;
  position: relative; }
  .toggler-dropdown img {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -10px;
    width: 24px; }

.navbar-toggle-holder {
  display: none; }

#wrapper {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0; }

#content {
  margin-top: 122px; }

.headroom {
  transition: all 250ms ease-in-out; }

.headroom--unpinned.togglefree {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); 
  z-index: 9999;
}

.headroom--not-top .navmenu-dropdown {
  top: 50px;
  right: 10px; }

.headroom--pinned.togglefree {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); 
  z-index: 9999;
}


.headroom--not-top #oldSite {
  display: none; }

.headroom--not-top #newTerms {
  display: none; }

.headroom--not-top .navbar-brand {
  transition: all 250ms ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto; }

.headroom--not-top .logo {
  transition: all 250ms ease-in-out;
  width: 50px; }

.headroom--not-top .navbar-toggle {
  transition: all 250ms ease-in-out;
  border: 0;
  margin: 10px !important; }

.headroom--not-top .navbar-toggle.navbar-left {
  width: 34px;
  margin: 6px 10px !important; }
  .headroom--not-top .navbar-toggle.navbar-left input {
    width: 34px; }
  .headroom--not-top .navbar-toggle.navbar-left span {
    line-height: 16px; }

#my-account {
  margin-top: 10px; }
  #my-account a {
    cursor: pointer;
    display: block; }

.navbar-brand {
  padding: 15px 0;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  height: 100px; }

.logo {
  transition: all 250ms ease-in-out;
  width: 73px;
  margin: 0 auto;
  display: block; }

.navbar-toggle {
  color: #4e4e4e;
  transition: all 250ms ease-in-out;
  border: 0;
  margin: 27px 15px;
  width: 40px;
  padding: 0 !important;
  text-align: center; }
  .navbar-toggle:focus, .navbar-toggle:hover {
    background: none !important;
    outline: none; }
  .navbar-toggle a:focus, .navbar-toggle a:hover {
    background: none !important;
    outline: none; }
  .navbar-toggle.navbar-left {
    opacity: 0.7; }
    .navbar-toggle.navbar-left input {
      display: block;
      padding: 5px 5px 0;
      height: 25px;
      width: 40px; }
      .navbar-toggle.navbar-left input:focus {
        outline: none; }
    .navbar-toggle.navbar-left span {
      color: #000;
      cursor: pointer;
      display: block;
      font-size: 12px;
      letter-spacing: 0.5px;
      line-height: auto; }
    .navbar-toggle.navbar-left:hover {
      opacity: 0.9; }

@media (max-width: 12000px) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .collapse.in {
    display: block !important; } }

.oldSite {
  display: none; }


/* 底部 */
.page-footer {
  background: #292929;
  color: #A3A3A3;
  padding: 50px 0 20px; }
  .page-footer.cn .page-footer-row .item-title {
    font-size: 15px;}
  .page-footer.cn .page-footer-row .item-link {
    font-size: 14px;}
  .page-footer-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .page-footer-row:not(:last-of-type) {
      margin-bottom: 30px; }
    .page-footer-row .item {
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .page-footer-row .item-content.hide {
        display: none; }
      .page-footer-row .item-title {
        font-size: 1.5rem;
        color: #fff;
        display: block;
        margin-bottom: 7px;
        font-weight: 600; }
        .page-footer-row .item-title:hover {
          text-decoration: none; }
      .page-footer-row .item-title[href]:hover {
        text-decoration: underline;/*mac*/ text-decoration: none; }
      .page-footer-row .item-link {
        font-size: 14px;
        color: #adadad;
        cursor: pointer;
        margin-bottom: 7px;
        display: block;
        font-weight: 300; }
        .page-footer-row .item-link.mobile-only {
          display: none; }
        .page-footer-row .item-link.desktop-only {
          display: block; }

        .footer-bottom{
          border-top: 1px solid #747474;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .footer-bottom .copy-box{
            float: left;
            line-height: 2;
        }
        .footer-bottom .copy-box img{
            position: relative;
            top: -2px;
            margin-right: 5px;

        }
        .footer-bottom .copy-box img:hover{
            opacity: 0.7;
        }
        .footer-bottom  .icons-box{
            padding-top: 20px;
            float: right;
            font-size: 14px;
            color: #adadad;
        }
        .footer-bottom  .icons-box a{
            margin-left: 10px;
        }
        .footer-bottom  .icons-box img{
            vertical-align: middle;
        }
        .footer-bottom  .icons-box .er-btn{
            position: relative;
            cursor: pointer;
            

        }
        .footer-bottom .icon-bar .er-btn img{
          width:38px;
          height:38px;

        }
        .footer-bottom  .icons-box .er-wei{
            display:none;
            position: absolute;
            bottom: 35px;
            right: 45px;
            width: 150px;
            height: 150px;
            background: url('/img_index/erweima.jpg');
            background-size: 100% 100%;
        }
@media (max-width: 560px) {
    .footer-bottom{
        padding-bottom: 0px;
    }
    .footer-bottom .copy-box{
        line-height: 1.6;
    }
     .footer-bottom .copy-box img{
        position: relative;
        top: -2px;
        margin-right: 5px;
        height: 18px;
    }
    .footer-bottom  .icons-box img{
        vertical-align: middle;
        height: 35px;
    }
}
@media (max-width: 767px) {
  .page-footer {
    padding: 20px 0 30px; }
    .page-footer-row {
      margin-bottom: 0 !important;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%; }
      .page-footer-row .item {
        width: 100%; }
        .page-footer-row .item-title {
          position: relative;
          margin-bottom: 15px; }
          .page-footer-row .item-title.active {
            color: #a98e67; }
            .page-footer-row .item-title.active:after {
              border-top: 5px solid #a98e67; }
          .page-footer-row .item-title:hover {
            text-decoration: none; }
          .page-footer-row .item-title:after {
            content: '';
            position: absolute;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff;
            right: 0px;
            top: 10px; }
            .page-footer-row .no-er.item-title:after{
                display: none;
            }
        .page-footer-row .item-content {
          padding-left: 13px;
          display: none; }
        .page-footer-row .item-link {
          margin-bottom: 15px;
          font-size: 1.5rem; }
          .page-footer-row .item-link.mobile-only {
            display: block; }
          .page-footer-row .item-link.desktop-only {
            display: none; }
        .page-footer-row .item.download-section {
          display: none; }
    .page-footer-row.bottom {
      margin-top: 20px;
      display: block; }
      .page-footer-row.bottom .contents {
        display: block;
        width: calc(100% - 80px);
        float: left; }
        .page-footer-row.bottom .contents-wording {
          display: block; }
      .page-footer-row.bottom .icons {
        width: 80px;
        margin-top: -15px;
        float: left; }
        .page-footer-row.bottom .icons .icon {
          height: 30px;
          width: 30px;
          margin: 0 10px 0 0;
          float: left; } }

@media (max-width: 320px) {
  .page-footer-row.bottom {
    padding-bottom: 112px;
    display: block; }
    .page-footer-row.bottom .contents {
      float: none; }
    .page-footer-row.bottom .icons {
      margin-top: 15px;
      position: static; }
      .page-footer-row.bottom .icons .icon:first-of-type {
        margin-left: 0; }
      .page-footer-row.bottom .icons .wechat-qrcode {
        top: -130px;
        left: 0px; } }

/*add mac*/
.page-footer a{  color: #A3A3A3;}
.page-footer a:hover{  color: #A3A3A3;}
#sideBar .navmenu-nav li li > a.hover,#sideBar .navmenu-nav li > a.hover{ background: #f7b146; color: #ffffff}
#sideBar .navmenu-nav li div.hover{ color: #f7b146;}